extends layout
block link
  - var selectedMenuItem = 'contacts';
block content
  .row
    .col-xs-12.col-md-8
      header.page-header
        h2 Забронировать студию
          br
          small Вы можете сделать это любым удобным для вас способом.
      h3 Форма обратной связи
      form#wrBookingForm(accept-charset='utf-8', enctype='multipart/form-data', method='post', action='http://www.emailmeform.com/builder/form/8cTu3z1M0cb1nAs09', novalidate)
        .form-group.row
          .col-xs-12.col-md-6
            input.form-control.form-margin-md-6(type='text', name='element_0', value='', placeholder='Как Вас зовут?')
          .col-xs-12.col-md-6
            input.form-control(type='text', name='element_1', value='', placeholder='Как с Вами связаться?')
        .form-group
            textarea.form-control(name='element_2', rows='9', placeholder='Чем мы можем Вам помочь?')
        input(name='element_counts', value='3', type='hidden')
        input(name='embed', value='forms', type='hidden')
        .form-group
          input.btn.btn-primary(type='submit', value='Отправить')
          input.btn.btn-default(type='reset', value='Очистить')
          .alert.alert-success.hidden(role='alert') Все получилось! Скоро мы с вами свяжемся.
      h3 Контакты
      p
        i.glyphicon.glyphicon-envelope
        a(href="mailto://w.records@yandex.ru") &nbsp;Электронная почта
        br
        i.glyphicon.glyphicon-link
        a(href="https://vk.com/wonder.records") &nbsp;Группа "Вконтакте"
      div
        ul.nav.nav-tabs(role="tablist") 
          each studio,index in contents.studio['contacts.json'].metadata
            -var applyClass = (index == 0) ? 'active' : ''
            li(role="presentation", class=applyClass)
              a(href="#"+studio.id,aria-controls=studio.id,role="tab",data-toggle="tab") #{studio.title}

        div.tab-content
          each studio,index in contents.studio['contacts.json'].metadata
            -var applyClass = (index == 0) ? 'tab-pane active' : 'tab-pane'
            div(id=studio.id, role="tabpanel", class=applyClass)
              h4 #{studio.title}
              each contact in studio.contacts
                p
                  i.glyphicon.glyphicon-phone
                  a(href=contact.link) #{contact.phone}
                  | ,&nbsp;#{contact.name}
                  br
              address
                p
                | #{studio.address_1}
                br
                | #{studio.address_2}
              .wrYandexMap
                script(type='text/javascript', charset='utf-8', async, src=studio.map)
block customScripts
script(src=contents.js['emailme-form.js'].url)
